$color_black: #000000;
$color_orange: #FF9900;
$color_white: #FFFFFF;
$color_grey: #C4C4C4;
$color_yellow: #FFE600;
$color_black_40pct: rgba(0, 0, 0, 0.4);
$color_white_green: #F6FDEE;
$color_black_60pct: rgba(0, 0, 0, 0.6);
$color_black_20pct: rgba(0, 0, 0, 0.2);
$color_white_red: #D9D9D9;
$color_white_pink: #E5E5E5;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-45px);
    }

    100% {
        transform: translatey(0px);
    }
}

.fadeIn {
    animation: fadeIn 2s;
}

html {
    font-family: 'Philosopher', sans-serif;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 112%;
}

.grid {
    display: grid;
}

.hover {
    :hover {
        --_d: 100%;
        color: black;
    }
}

.img_zoomIn {
    transition: transform 0.5s;

    :hover {
        transform: scale(1.1);
    }
}

.derigable_float {
    transition: transform 2s;

    :hover {
        transform: translateX(-1.5);
    }
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    padding-left: 7.4vw;
    padding-right: 7.4vw;
}

.flex {
    display: flex;
}

.orange_font,
.active {
    color: $color_orange;
}

h4 {
    font-size: 2.4rem;
    font-weight: 700;
}

.black_bg {
    background-color: $color_black;
    height: 100vh;

    .start_page_bg {
        background-image: url(../IMG/bg_main.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        .bg_filler {
            background-color: $color_black_60pct;
            height: 100vh;
        }
    }
}

header {
    padding-top: 3.7vh;
    justify-content: space-between;
    align-items: center;
}

.logo {
    min-width: fit-content;

    a {
        color: $color_white;
        font-size: 4rem;
        font-weight: 400;
    }
}

.mobile_menu {
    display: none;
}

nav {
    width: 100%;

    ul {
        justify-content: center;
        column-gap: 1.7rem;

        a {
            color: $color_white;
            font-size: 2.4rem;
            font-weight: 400;
            background:
                linear-gradient($color_orange 0 0) bottom/100% var(--_d, 0) no-repeat;
            overflow: hidden;
            transition: 0.3s;
            border-radius: 5px;
        }
    }
}

.take_a_tour {
    min-width: fit-content;
    font-size: 2.4rem;
    font-weight: 700;

    a {
        background:
            linear-gradient($color_orange 0 0) bottom/100% var(--_d, 0) no-repeat;
        overflow: hidden;
        transition: 0.3s;
        border-radius: 5px;
    }
}

.main_header {
    width: 50%;
    font-size: 8rem;
    font-weight: 400;
    padding: 27.96vh 9.48vw 0 0;
    text-align: right;
    color: $color_white;
}

.main_text {
    width: 50%;
    margin-top: 27.59vh;
    margin-right: 8.39vw;

    p {
        color: $color_white;
        font-size: 3.4rem;
    }

    .main_author {
        text-align: right;
        color: $color_orange
    }
}

.our_story_page {
    background-color: $color_white_pink;
    padding-top: 11.11vh;
    padding-bottom: 11.11vh;

    h3 {
        font-size: 4rem;
        padding-bottom: 2.6vw;
    }

    .grid_container {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 8.7vw 12.14vw 0.7vw 8.3vw 16.5vw;
        column-gap: 3.23vw;
    }


    img {
        max-width: 100%;
        transition: transform 0.5s;
    }

    .img_col_1_1 {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }

    .text_2_1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;

        h4 {
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
            padding: 1.15vw 5.94vw;
        }
    }

    .img_col_3_1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        text-align: center;
    }

    .text_col_1_2 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        align-self: center;

        p {
            padding: 0.99vw 10.42vw 0 0;
            font-size: 1.8rem;
            font-weight: 400;
        }
    }

    .img_col_2_2 {
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
    }

    .text_col_3_2 {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 4;
        align-self: center;

        p {
            padding: 0.99vw 10.42vw 0 0;
            font-size: 1.8rem;
            font-weight: 400;
        }
    }

    .img_col_1_3 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }

    .img_col_3_3 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 4;
        text-align: center;
    }

    .read_more {
        padding-top: 1.82vw;
        text-align: right;
        display: flex;
        justify-content: end;

        .read_more_content {
            min-width: fit-content;
            position: relative;

            a {
                color: $color_black;
                font-size: 2.4rem;
                font-weight: 700;
                background:
                    linear-gradient($color_yellow 0 0) bottom/100% var(--_d, 0) no-repeat;
                overflow: hidden;
                transition: 0.3s;
                border-radius: 2px;
                border-bottom: 5px solid $color_yellow;
            }
        }
    }
}

.our_collection {
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
    position: relative;

    h3 {
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 2.6vw;
    }
}

.our_collection::before {
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 5px solid $color_orange;
    position: absolute;
    top: 13.84vw;
    z-index: -1;
}

.our_collection::after {
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 5px solid $color_orange;
    position: absolute;
    bottom: 11.93vw;
    z-index: -1;
}

.our_collection_container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.44vw;

    .London {
        background-image: url(../IMG/ourCollection_hotel_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 15.47vw 1.86vw 3.65vw 1.04vw;
    }

    .Dubai {
        background-image: url(../IMG/ourCollection_hotel_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 15.47vw 1.86vw 3.65vw 1.04vw;
    }

    .Paris {
        background-image: url(../IMG/ourCollection_hotel_3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 15.47vw 1.86vw 3.65vw 1.04vw;
    }

    .New_York {
        background-image: url(../IMG/ourCollection_hotel_4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 15.47vw 1.86vw 3.65vw 1.04vw;
    }

    .city_name_container {
        display: flex;
    }

    h4 {
        color: $color_white;
        border-bottom: 5px $color_yellow;
        background:
            linear-gradient($color_yellow 0 0) bottom/100% var(--_d, 0) no-repeat;
        overflow: hidden;
        transition: 0.3s;
        border-radius: 2px;
        border-bottom: 5px solid $color_yellow;
    }

    p {
        padding-top: 1.04vw;
        font-size: 1.8rem;
        color: $color_white;
    }
}

.view_more {
    padding-top: 1.82vw;
    text-align: right;
    display: flex;
    justify-content: end;

    .view_more_content {
        min-width: fit-content;
        position: relative;

        a {
            color: $color_black;
            font-size: 2.4rem;
            font-weight: 700;
            background:
                linear-gradient($color_yellow 0 0) bottom/100% var(--_d, 0) no-repeat;
            overflow: hidden;
            transition: 0.3s;
            border-radius: 2px;
            border-bottom: 5px solid $color_yellow;
        }
    }
}

.derigable_container {
    background-image: url(../IMG/bg_mountains.png);
    background-size: cover;
    background-position: center;
    padding-top: 6.25vw;
    padding-bottom: 15.26vw;

    h3 {

        padding-bottom: 3.15vw;
        font-size: 4rem;
        font-weight: 700;
    }
}

.derigable_img {
    width: 100%;
    padding-left: 5.21vw;
    padding-right: 8.85vw;
    animation: float 5s ease-in-out infinite;

    img {
        max-width: 100%;
    }
}

.derigable_text {
    width: 100%;
    padding-left: 8.33vw;
    padding-right: 3.91vw;

    h3 {
        padding-top: 0;
        padding-bottom: 1.85vh;
    }

    p {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .what_we_do {
        display: flex;
        justify-content: flex-end;
        padding-top: 0.99vw;

        a {
            color: $color_black;
            font-size: 2.4rem;
            font-weight: 700;
            background:
                linear-gradient($color_yellow 0 0) bottom/100% var(--_d, 0) no-repeat;
            overflow: hidden;
            transition: 0.3s;
            border-radius: 2px;
            border-bottom: 5px solid $color_yellow;
        }
    }
}

.diversity_container {
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
    position: relative;

    h3 {
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 2.6vw;
    }
}

.diversity_container::before {
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 5px solid $color_orange;
    position: absolute;
    top: 13.84vw;
    z-index: -1;
}

.diversity_container::after {
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 5px solid $color_orange;
    position: absolute;
    bottom: 11.93vw;
    z-index: -1;
}

.image_container {
    grid-template-columns: 10.68vw 13vw 21.6vw 9.32vw 10.73vw 14.3vw;
    grid-template-rows: 17.08vw 3.28vw 7.14vw 0.98vw 8.02vw;
    align-items: center;
    justify-content: center;
    column-gap: 1.04vw;
    row-gap: 1.04vw;

    img {
        max-width: 100%;
    }

    .col_1_11 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .col_1_21 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .col_1_22 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .col_1_31 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .col_2_11 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .col_3_11 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .col_3_21 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
    }

    .col_3_22 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .col_3_23 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .col_3_24 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 6;
    }
}

.work_with_us {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.82vw;

    a {
        color: $color_black;
        font-size: 2.4rem;
        font-weight: 700;
        background:
            linear-gradient($color_yellow 0 0) bottom/100% var(--_d, 0) no-repeat;
        overflow: hidden;
        transition: 0.3s;
        border-radius: 2px;
        border-bottom: 5px solid $color_yellow;
    }
}

.achievements {
    background-color: $color_white_green;
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;


    h3 {
        padding-bottom: 4.79vw;
        font-size: 4rem;
        font-weight: 700;
    }
}

.reward_container {
    grid-template-columns: 3fr 7fr 5fr;
    grid-template-rows: 14.01vw 1.56vw 2.6vw 18.18vw;
    text-align: center;
    align-items: center;

    img {
        max-width: 100%;
    }

    .award_1_11 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .award_1_21 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .award_2_11 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .award_3_11 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .award_3_21 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

.contact {
    background-image: url(../IMG/—Pngtree—south\ korea\ jinxian\ ink\ hills_6690513\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6.25vw;
    background-position: center;

    h3 {
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 6.25vw;
    }
}

.contact_container {
    width: 100%;
    grid-template-areas:
        "contact_us London Dubai Paris"
        "contact_us NY contact_form contact_form";
    row-gap: 3.23vw;
    column-gap: 3.5vw;
    align-items: baseline;
    padding-bottom: 1.98vw;

    h4 {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        padding-bottom: 6.5rem;
    }

    p {
        font-size: 3rem;
        font-weight: 400;
        line-height: 190%;
    }
}

.header_section p {
    font-size: 4rem;
    font-weight: 700;
}

.header_section {
    grid-area: contact_us;
    min-width: fit-content;
    white-space: nowrap;
}

.london_office {
    grid-area: London;

}

.dubai_office {
    grid-area: Dubai;
}

.NY_office {
    grid-area: NY;
}

.paris_office {
    grid-area: Paris;
}

.mail_to_us {
    grid-area: contact_form;
    flex-direction: column;
    justify-content: space-between;

    div {
        border-bottom: 1px solid $color_black;
        margin-bottom: 1.7rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;

        label {
            font-size: 3rem;
            font-weight: 400;
        }

        input {
            border: none;
            font-size: 3rem;
            width: 100%;
            background: transparent;
        }
    }
}

.button {
    text-align: right;
    padding-bottom: 4.69vw;

    .send_button {
        background-color: $color_orange;
        color: $color_black;
        border-radius: 5px;
        border: none;
        font-size: 4rem;
        font-weight: 700;
        line-height: 120%;
        padding: 1.2rem 6.7rem 1.8rem 6.7rem;
    }

    :hover {
        background-color: $color_black;
        color: $color_orange;
        box-shadow: 0px 0px 10px $color_orange;
    }
}

.footer {
    border-top: 1px solid $color_black;
    padding-top: 2.1vw;
    padding-bottom: 2.1vw;
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;

    .copyright {
        padding-right: 2rem;
        white-space: nowrap;
    }

    .privacy_policy {
        padding-left: 2rem;
        border-left: 1px solid $color_black;
        white-space: nowrap;

        a {
            color: $color_black;
        }
    }

    .designer {
        justify-self: flex-end;
        width: 100%;
        white-space: nowrap;
        text-align: right;
    }
}

@media (max-width: 1760px) {
    .contact_container {
        grid-template-areas:
            "contact_us London Dubai"
            "contact_us Paris NY"
            "contact_us contact_form contact_form";
    }
}

@media (max-width: 1600px) {
    .main_header {
        font-size: 6rem;
    }

    .our_story_page {

        .text_2_1,
        .text_col_1_2,
        .text_col_3_2 {

            p {
                padding: 0;
            }
        }
    }
}

@media (max-width: 1250px) {
    .main_header {
        font-size: 4.2rem;
    }

    .main_text {
        margin-right: 0;

        p {
            font-size: 2.5rem;
        }
    }

    .our_story_page {
        .grid_container {
            grid-template-columns: 9fr 10fr 9fr;
            grid-template-rows: 12vw 12vw 0.7vw 12vw 17vw;
        }
    }

    .derigable_img {
        padding-right: 1vw;
        padding-top: 5vw;
    }

    .contact_container {

        .london_office,
        .NY_office,
        .dubai_office,
        .paris_office {
            h4 {
                font-size: 3rem;
                padding-bottom: 3rem;
            }

            p {
                font-size: 2rem;
                line-height: 150%;
            }
        }

        .mail_to_us {
            h4 {
                padding-bottom: 3rem;
            }

            div {
                margin-bottom: 0.5rem;
                padding-bottom: 0;

                label {
                    font-size: 2rem;
                }
            }
        }
    }

    .button {
        .send_button {
            font-size: 3rem;
        }
    }
}

@media(max-width: 1030px) {
    h4 {
        font-size: 2rem;
    }

    header {
        flex-wrap: wrap;

        .logo {
            align-self: stretch;
        }

        nav {
            order: 2;
            padding-top: 1rem;
            width: 100%;
        }
    }

    .our_story_page,
    .our_collection,
    .derigable_container,
    .diversity_container,
    .achievements,
    .contact {
        h3 {
            font-size: 3rem;
        }
    }

    .our_story_page .read_more .read_more_content a,
    .view_more .view_more_content a,
    .derigable_text .what_we_do_content a,
    .work_with_us_content a {
        font-size: 2rem;
    }

    .contact_container {

        p {
            font-size: 2.5rem;
        }

        .london_office,
        .NY_office,
        .dubai_office,
        .paris_office {
            h4 {
                font-size: 2.5rem;
                padding-bottom: 2.5rem;
            }

            p {
                font-size: 1.6rem;
                line-height: 120%;
            }
        }

        .mail_to_us {
            h4 {
                padding-bottom: 2.5rem;
                font-size: 2.5rem;
            }

            div {
                label {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .button {
        .send_button {
            font-size: 2.5rem;
            padding: 1rem 3rem 1rem 3rem;
        }
    }

    .footer {
        flex-wrap: wrap;

        .copyright {
            order: 1;
            width: 100%;
            text-align: center;
            padding-right: 0;
        }

        .privacy_policy,
        .designer {
            width: 50%;
            padding-bottom: 1rem;
            border: none;
        }
    }

}

@media (max-width: 900px) {
    .our_story_page {

        .text_2_1,
        .text_col_1_2,
        .text_col_3_2 {

            p {
                font-size: 1.2rem;
            }
        }
    }

    .our_collection,
    .derigable_text {
        p {
            font-size: 1.2rem;
        }
    }

    .our_collection::before,
    .diversity_container::before {
        top: 17vw;
    }

    .our_collection::after,
    .diversity_container::after {
        bottom: 15vw;
    }

    .contact_container {

        p {
            font-size: 2.5rem;
        }

        .london_office,
        .NY_office,
        .dubai_office,
        .paris_office {
            h4 {
                font-size: 1.8rem;
                padding-bottom: 1.8rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .mail_to_us {
            h4 {
                padding-bottom: 1.8rem;
                font-size: 1.8rem;
            }

            div {
                label {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 670px) {
    .mobile_menu {
        display: block;

        a {
            color: $color_orange;
            font-size: 2.4rem;
            font-weight: 700;
            background:
                linear-gradient($color_orange 0 0) bottom/100% var(--_d, 0) no-repeat;
            overflow: hidden;
            transition: 0.3s;
            border-radius: 2px;
            align-self: baseline;
        }
    }

    nav {
        display: none;
    }

    h4 {
        font-size: 1.5rem;
    }

    .start_page_content {
        flex-direction: column;

        .main_header {
            width: 70%;
            padding-top: 10vh;
            text-align: left;
        }

        .main_text {
            width: 100%;
            padding-left: 15vw;
            margin-top: 10vh;
        }
    }

    .contact_container {
        p {
            font-size: 1.5rem;
        }

        .london_office,
        .NY_office,
        .dubai_office,
        .paris_office {
            h4 {
                font-size: 1.4rem;
                padding-bottom: 1.4rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .our_story_page {

            .text_2_1,
            .text_col_1_2,
            .text_col_3_2 {
                p {
                    font-size: 1rem;
                }
            }
        }

        .mail_to_us {
            h4 {
                padding-bottom: 1.5rem;
                font-size: 1.5rem;
            }

            div {
                label {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .button {
        .send_button {
            font-size: 2rem;
        }
    }

    .our_story_page,
    .our_collection,
    .derigable_container,
    .diversity_container,
    .achievements,
    .contact {
        h3 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 590px) {

    .our_story_page .text_2_1 p,
    .our_story_page .text_col_1_2 p,
    .our_story_page .text_col_3_2 p {
        font-size: 1rem;
    }

    .our_collection p,
    .derigable_text p {
        font-size: 1rem;
    }

    .derigable_img {
        padding-top: 7.5vw;
    }

    .footer {
        font-size: 1.2rem;
    }
}

@media (max-width: 490px) {
    .main_header {
        font-size: 3rem;
    }

    .main_text p {
        font-size: 2rem;
    }

    .mobile_menu a,
    .take_a_tour {
        font-size: 2rem;
    }

    .our_story_page .text_2_1 p,
    .our_story_page .text_col_1_2 p,
    .our_story_page .text_col_3_2 p {
        font-size: 0.8rem;
        line-height: 100%;
    }

    h4 {
        font-size: 1rem;
    }

    .our_collection p,
    .derigable_text p {
        font-size: 0.8rem
    }

    .our_story_page .read_more .read_more_content a,
    .view_more .view_more_content a,
    .derigable_text .what_we_do_content a,
    .work_with_us_content a {
        font-size: 1.5rem;
    }

    .our_story_page h3,
    .our_collection h3,
    .derigable_container h3,
    .diversity_container h3,
    .achievements h3,
    .contact h3,
    .button .send_button {
        font-size: 1.5rem;
    }

    .contact_container .london_office h4,
    .contact_container .NY_office h4,
    .contact_container .dubai_office h4,
    .contact_container .paris_office h4,
    .contact_container .mail_to_us h4,
    .contact_container .london_office p,
    .contact_container .NY_office p,
    .contact_container .dubai_office p,
    .contact_container .paris_office p,
    .contact_container .mail_to_us div label {
        font-size: 1rem;
    }
}